<form method="POST">
  <label for="coordenadas">Coordenadas</label>
  <input type="text" name="coords"><br><br>
  <label for="incidente">Incidente</label>
  <input type="text" name="incidents"><br><br>
  <label for="notifications">Notificaciones</label>
  <input type="text" name="notifications"><br><br>
  <label for="pin">PIN</label>
  <input type="text" name="pin"><br><br>
  <input type="submit" name="b_coords" value="Subir datos">
  <input type="submit" name="b_coords" value="Borrar primer coordenada">
</form>
